include README.md
include LICENSE
include pyproject.toml
include poetry.lock
recursive-include ytgrid *.py
recursive-include tests *.py
recursive-include tests *.csv
exclude .env
exclude .gitignore
exclude .github
exclude docker-compose.yml
exclude Dockerfile
exclude supervisord.conf